@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: bolder;
}

nav {
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #fff;
}

header {
  display: flex;
  padding-top: 6rem;
}

#header-text {
  text-align: center;
  padding: 0 5rem;
}

button {
  color: #fff;
  border-radius: 5rem;
  padding: 1rem 2rem;
  border-style: none;
}

#download:hover,
#what-is-it:hover {
  background-color: #fff;
  color: #000;
  transition: 0.7s;
  outline: 1px solid black;
}

#download {
  background-color: #4b97a7;
  margin-right: 14px;
}

#what-is-it {
  background-color: #8660ae;
  /* margin-left: 1rem; */
}

.line {
  height: 50px;
  width: 0;
  color: rgb(92, 88, 88);
  border-left: 1px solid black;
  margin: auto;
  margin-bottom: 1rem;
}

.number {
  text-align: center;
}

span {
  border: 1px solid gray;
  border-radius: 5rem;
  padding: 1rem 1.2rem;
}

#images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2rem;
  column-gap: 14px;
}

#images img {
  width: 100%;
  border-radius: 10px;
}

main {
  text-align: center;
  margin-top: 4rem;
}

main h5 {
  text-transform: uppercase;
  color: #4b97a7;
  letter-spacing: 6px;
}

main p {
  padding: 0 30rem;
}

section {
  margin: 3rem;
}

footer {
  display: flex;
  border: 1px solid rgb(75, 151, 167);
  padding: 3rem;
  color: #fff;
  background-image: linear-gradient(
      rgba(75, 151, 167, 0.6),
      rgba(75, 151, 167, 0.6)
    ),
    url(../assets/desktop/image-footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer p {
  padding: 0 8rem;
}

#footer-button {
  background-color: rgb(134, 96, 174);
  margin-left: 1rem;
}

.horizontal-break {
  display: none;
}

@media (max-width: 576px) {
  header img {
    display: none;
  }

  header button {
    display: block;
    margin: auto;
  }

  #download {
    margin: 0;
    margin: auto;
    margin-bottom: 1rem;
  }

  .vertical-line {
    display: none;
  }

  .horizontal-break {
    display: flex;
  }
  .horizontal-line {
    width: 40%;
    border-top: 1px solid gray;
    margin: auto;
  }
  #images {
    display: block;
  }

  #images img {
    border-radius: 0;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-bottom: 1rem;
  }
  main p {
    padding: 1rem;
  }

  footer {
    display: block;
    padding: 1rem;
    text-align: center;

    background-image: linear-gradient(
        rgba(75, 151, 167, 0.6),
        rgba(75, 151, 167, 0.6)
      ),
      url(../assets/mobile/image-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  footer p {
    padding: 1rem 2rem;
  }
}

@media (min-width: 577px) and (max-width: 1199px) {
  header img {
    display: none;
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/tablet/image-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 2rem;
  }
  .vertical-line {
    display: none;
  }

  .horizontal-break {
    display: flex;
  }

  .horizontal-line {
    width: 40%;
    border-top: 1px solid gray;
    margin: auto;
  }

  #images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    margin-bottom: 3rem;
  }
  #images img {
    border-radius: 0;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-bottom: 1rem;
  }

  main p {
    padding: 2rem;
  }
  footer {
    display: block;
    padding: 1rem;
    text-align: center;

    background-image: linear-gradient(
        rgba(75, 151, 167, 0.6),
        rgba(75, 151, 167, 0.6)
      ),
      url(../assets/tablet/image-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  footer p {
    padding: 1rem 2rem;
  }
}
